<html>


<head>
<title>Batter Dashboard</title>
  <!-- Plotly.js -->
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script src="https://cdn.plot.ly/plotly-1.8.0.min.js"></script>
</head>

<body>
  <div id="graph"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
var rawDataURL = 'data/Busch.csv';
var xField = 'PlateLocSide';
var yField = 'PlateLocHeight';


Plotly.d3.csv(rawDataURL, function(err, rawData) {
    if(err) throw err;

    var data = prepData(rawData);
    var layout = {
        title: 'Time series with range slider and selectors',
        xaxis: {
            fixedrange: true
        },
        yaxis: {
            fixedrange: true
        },
        images: {
        aaa
        }
    };

    Plotly.plot('graph', data, layout);
});

function prepData(rawData) {
    var x = [];
    var y = [];

    console.log(rawData.length)

    rawData.forEach(function(datum, i) {

        x.push(datum[xField]);
        y.push(datum[yField]);
    });

    return [{
        mode: 'markers',
        x: x,
        y: y
    }];
}
 </script>
</body>

</html>



